body{
    margin: 0;
    padding: 0;
}

.search-icons{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.header{
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrp;
}

.icon{
    height: 25px;
}

#search{
    height: 30px;
    width: 650px;
    border-radius: 15px;
    border: 1px solid #e2e8f0;
    background-color: #e2e8f0;
}

.user-side {
    border: 1px solid;
    display: flex;
    gap: 30px;
    align-items: center;
}

.notification > img{
    border: 1px solid;
    height: 30px;
}

.account-circle{
    border: 1px solid;
}

.user-name{
    border: 1px solid;
    font-size: 1.3em;
    font-weight: bold;
    font-family: sans-serif;
}