body{
    margin: 0;
    padding: 0;
    width: 100vw;
}

.header1{
    display: flex;
    justify-content: space-around;
}

.search-icons{
    display: flex;
    width: 700px; 
    justify-content: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
}

.icon{
    height: 25px;
}

#searchbox{
    display: flex;
    height: 30px;
    flex-grow: 1;
    border-radius: 15px;
    border: 1px solid #e2e8f0;
    background-color: #e2e8f0;
}

.user-side {
    display: flex;
    justify-content: flex-en;
    gap: 30px;
    align-items: center;
}

.account-circle > img{
    height: 40px;
}

.notification > img{
    height: 30px;
}


.user-name{
    font-size: 1.3em;
    font-weight: bold;
    font-family: sans-serif;
}

.header2{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-name2{
    display: flex;
    column-gap: 20px;
    align-items: center;

}

.user-name2 > img{
    height: 80px;
}

.user-name2 > p{
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.buttons{
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.buttons > button{
    border: 1px solid;
    font-size: 1em;
    background-color: #0284c7;
    color: white;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.project-grid{
    border: 1px solid;
}

.project1{
    border: 1px solid;
}

.project2{
    border: 1px solid;
}